<h2>
  {{recipe.name}}
</h2>

<h3>Category</h3>
<span>{{recipe.category}}</span>

<h3>Ingredients</h3>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>  
</ul>

<h3>Instructions</h3>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let instruction of recipe.instructions">{{instruction}}</li>  
</ul>

<h3>Notes</h3>
<span>{{recipe.notes}}</span>

<button class="btn btn-primary" [routerLink]="['/recipes/' + recipe._id + '/edit']">Edit</button>
<button class="btn btn-warning" (click)="delete()">Delete</button>