.overlay {
    background-color: gray;
    opacity: .8;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 998;
}

.spinner-container {
    position: absolute;
    left: 50%;
    z-index: 999;
    top: 35%;
}

.loading {
    position: relative;
    left: -50%;
    z-index: 999;
}