.flex-container {
    display: flex;
}

.flex-short {
    margin-top: 24px;
    width: 40px;
}

.flex-wide {
    flex: 1;
}

#scanner-container {
    position: absolute;
    top: 0;
    left: 0;
}

canvas.drawing,
canvas.drawingBuffer {
    position: absolute;
    left: 0;
    top: 0;
}