<button type="button" class="btn btn-primary" (click)="create()">Save</button>
<button class="btn btn-warning" *ngIf="groceryItem._id" (click)="delete()">Delete</button>
<af-form *ngIf="groceryItemDefinition" [(formData)]="groceryItem" [formDefinition]="groceryItemDefinition"></af-form>
<button class="btn btn-secondary" (click)="addNewPackage()">Add New Size  <i class="fa fa-plus"></i></button>
<h3 *ngIf="groceryPackages.length > 0">Sizes</h3>
<ng-container *ngIf="groceryPackageDefinition">
    <div class="flex-container" *ngFor="let pkg of groceryPackages; let idx = index">
        <div class="flex-short">
            <button class="btn" (click)="deletePackage(idx)"><i class="fa fa-trash"></i></button>
        </div>
        <div class="flex-wide">
            <af-form [(formData)]="groceryPackages[idx]" [formDefinition]="groceryPackageDefinition"></af-form>
        </div>
    </div>
</ng-container>