<button class="btn btn-primary" [routerLink]="['/recipes/new']">New</button>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let recipe of recipes"
    [routerLink]="['/recipes/' + recipe._id]">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{recipe.name | uppercase}}</h5>
      <small>{{recipe.category}}</small>
    </div>1
    <p *ngIf="recipe.description">{{recipe.description}}<p>
  </a>
</div>