<div *ngIf="ingredient" class="row">
  <div class="col-md-12">
    <h2 *ngIf="ingredient._id">Ingredient Details</h2>
    <h2 *ngIf="!ingredient._id">New Ingredient</h2>
  </div>
</div>
<div *ngIf="ingredient" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="ingredient-name">Name</label>
      <input class="form-control" name="ingredient-name" [(ngModel)]="ingredient.name" placeholder="Name" />
    </div>
    <button class="btn btn-primary" *ngIf="!ingredient._id" (click)="createIngredient(ingredient)">Create</button>
    <button class="btn btn-info" *ngIf="ingredient._id" (click)="updateIngredient(ingredient)">Update</button>
    <button class="btn btn-danger" *ngIf="ingredient._id" (click)="deleteIngredient(ingredient._id)">Delete</button>
  </form>
</div>