<div class="form-group">
  <label for="recipeName">Name</label>
  <input type="text" class="form-control" id="recipeName" placeholder="Enter a name" [(ngModel)]="name" required>
</div>
<div class="form-group">
  <label for="recipeCategory">Category</label>
  <select class="form-control" id="recipeCategory" [(ngModel)]="category">
    <option [ngValue]=""></option>
    <option [ngValue]="Breakfast">Breakfast</option>
    <option [ngValue]="Lunch">Lunch</option>
    <option [ngValue]="Dinner">Dinner</option>
    <option [ngValue]="Desert">Desert</option>
    <option [ngValue]="Snack">Snack</option>
  </select>
</div>
<div class="form-group">
  <label for="recipeIngredients">Ingredients</label>
  <textarea autosize id="recipeIngredients" class="form-control" rows="5" [(ngModel)]="ingredients" required></textarea>
</div>
<div class="form-group">
  <label for="recipeInstructions">Instructions</label>
  <textarea autosize id="recipeInstructions" class="form-control" rows="5" [(ngModel)]="instructions" required></textarea>
</div>
<div class="form-group">
  <label for="recipeNotes">Notes</label>
  <textarea autosize id="recipeNotes" class="form-control" rows="5" [(ngModel)]="notes"></textarea>
</div>
<button type="button" class="btn btn-primary" (click)="create()">{{getButtonText()}}</button>
<button class="btn btn-warning" (click)="delete()">Delete</button>