/* You can add global styles to this file, and also import other style files */

.favorite-star {
    color: plum;
}

.clickable {
    cursor: pointer;
}

.btn-standard-spacing {
    margin: 8px;
}

.no-style {
    text-decoration: none;
}

.icon-light {
    color: white;
}

.icon-dark {
    color: black;
}